---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import MediaBlock from "../components/MediaBlock.astro";
import { getNextProject, getProjectBySlug, projects } from "../data/site";

export function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.data.slug },
    props: { slug: project.data.slug },
  }));
}

const { slug } = Astro.props;
const project = getProjectBySlug(slug);
if (!project) {
  return Astro.redirect("/");
}
const nextProject = getNextProject(project);
const [hero, ...restMedia] = project.data.content;
---

<BaseLayout title={`${project.data.title} - Rogier de Boevé`}>
  <div data-view="project" class="ui-project" data-project={project.data.slug}>
    <div class="ui-project-header c-color">
      <div class="wrap">
        <a href="/" data-transition="work" class="c-link" data-sound data-sound-click>
          <span class="c-link-icon">
            <span class="c-link-icon-bg">
              <svg class="c-icon-arrow" width="28" height="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" xml:space="preserve">
                <rect class="c-icon-arrow-border" x="0" y="0" width="28" height="28" fill="transparent" stroke="currentColor" stroke-dasharray="2 2" stroke-width="1"></rect>
                <rect class="c-icon-arrow-border-hover" x="0" y="0" width="28" height="28" fill="transparent" stroke="currentColor" stroke-width="1"></rect>
              </svg>
            </span>
            <span class="c-link-icon-static">
              <svg class="c-icon-arrow" width="28" height="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" xml:space="preserve">
                <g class="c-icon-arrow-shape" fill="currentColor">
                  <rect rx="1" ry="1" x="11.3" y="11" width="2" height="2"></rect>
                  <rect rx="1" ry="1" x="14.7" y="13" width="2" height="2"></rect>
                  <rect rx="1" ry="1" x="11.3" y="15" width="2" height="2"></rect>
                </g>
              </svg>
            </span>
            <span class="c-link-icon-hover">
              <svg class="c-icon-arrow" width="28" height="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" xml:space="preserve">
                <g class="c-icon-arrow-shape" fill="currentColor">
                  <rect rx="1" ry="1" x="11.3" y="11" width="2" height="2"></rect>
                  <rect rx="1" ry="1" x="14.7" y="13" width="2" height="2"></rect>
                  <rect rx="1" ry="1" x="11.3" y="15" width="2" height="2"></rect>
                </g>
              </svg>
            </span>
          </span>
          <span class="c-link-text">
            <span class="c-link-text-outer">
              <span class="c-link-text-inner">
                <span class="c-link-text-static"><span>To index</span></span>
                <span class="c-link-text-hover"><span>To index</span></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class="wrap wrap--md">
      <div class="lg:grid grid-cols-24 gap-24">
        <div class="col-span-24 lg:col-span-20 lg:col-start-5 ui-project-content">
          <div class="ui-project-content-header">
            <div class="ui-project-text">
              <div class="lg:grid lg:grid-cols-20 gap-24">
                <div class="col-span-24 lg:col-span-6">
                  <h2 class="ts-2 c-color"><span>{project.data.title}</span></h2>
                </div>

                {hero && <MediaBlock item={hero} class="ui-project-media-mobile lg:hidden" mode="mobile" />}

                <div class="col-span-24 lg:col-span-12 lg:col-start-7 grid grid-cols-12 gap-x-24 c-color" data-split-articles>
                  <p class="ts-p col-span-12 lg:col-span-11 xl:col-span-10" set:html={project.data.description}></p>
                </div>
              </div>
              <div class="ui-project-info lg:grid lg:grid-cols-20 gap-24">
                <div class="tablet:hidden lg:col-span-6">
                  <div class="ui-project-links c-color">
                    {project.data.url && <Button text="View live" href={project.data.url} target="_blank" rel="noopener" />}
                  </div>
                </div>
                <div class="ui-project-info-items lg:col-start-7 lg:col-span-12 c-color">
                  {project.data.client && (
                    <div class="ui-project-info-item">
                      <div class="ui-project-info-item-title"><span>Client:</span></div>
                      <div class="ui-project-info-item-description"><span>{project.data.client}</span></div>
                    </div>
                  )}
                  {project.data.agency && (
                    <div class="ui-project-info-item">
                      <div class="ui-project-info-item-title"><span>Agency:</span></div>
                      <div class="ui-project-info-item-description"><span>{project.data.agency}</span></div>
                    </div>
                  )}
                  {project.data.role && (
                    <div class="ui-project-info-item">
                      <div class="ui-project-info-item-title"><span>Role:</span></div>
                      <div class="ui-project-info-item-description"><span>{project.data.role}</span></div>
                    </div>
                  )}
                  {project.data.year && (
                    <div class="ui-project-info-item">
                      <div class="ui-project-info-item-title"><span>Year:</span></div>
                      <div class="ui-project-info-item-description"><span>{project.data.year}</span></div>
                    </div>
                  )}
                </div>
              </div>
            </div>
          </div>

          <div class="ui-project-media-items lg:grid lg:grid-cols-20 tablet:hidden">
            {project.data.content.map((item, index) => (
              <MediaBlock item={item} class={index === 0 ? "ui-project-media col-span-24 lg:col-start-7 lg:col-span-12" : "ui-project-media col-span-24 lg:col-span-18"} />
            ))}
          </div>

          <div class="ui-project-media-items lg:hidden">
            {restMedia.map((item) => (
              <MediaBlock item={item} class="ui-project-media-mobile undefined" mode="mobile" />
            ))}
          </div>

          <div class="ui-project-next" data-project-slug={nextProject.data.slug}>
            <div class="lg:grid grid-cols-20 gap-24">
              <div class="lg:col-span-6 lg:col-start-10">
                <a href={`/${nextProject.data.slug}/`} class="ui-project-next-link c-color">
                  <span class="ts-m">Next project</span>
                  <h3 class="ts-3">{nextProject.data.title}</h3>
                  {nextProject.data.content[0] && (
                    <>
                      <MediaBlock item={nextProject.data.content[0]} class="ui-project-next-image tablet:hidden" parallax="bottom" />
                      <MediaBlock item={nextProject.data.content[0]} class="ui-project-media-mobile lg:hidden" mode="mobile" />
                    </>
                  )}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-scroll-cta c-color">
      <div class="wrap wrap--md">
        <div class="lg:grid grid-cols-24 gap-24">
          <div class="lg:col-start-5 lg:col-span-10 xl:col-span-8 xl:col-start-5">
            <div class="c-scroll-cta-inner">
              <span class="c-scroll-cta-icon" aria-hidden="true">
                <svg class="c-icon-arrow-xs" width="6" height="6" viewBox="0 0 6 6">
                  <rect rx="1" width="2" height="2" fill="currentColor"></rect>
                  <rect rx="1" x="3.4" y="2" width="2" height="2" fill="currentColor"></rect>
                  <rect rx="1" y="4" width="2" height="2" fill="currentColor"></rect>
                </svg>
              </span>
              <span class="c-scroll-cta-text ts-m">Scroll Down</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
    <div class="ui-scrollbar c-color" aria-hidden="true">
      <div class="ui-scrollbar-thumb"><div class="ui-scrollbar-thumb-inner"></div></div>
      <div class="ui-scrollbar-total"></div>
    </div>
  </div>
</BaseLayout>
