---
import IconArrow from "./IconArrow.astro";

const { text, href, target, rel, class: className = "" } = Astro.props;
const Tag = href ? "a" : "span";
---

<Tag href={href} target={target} rel={rel} class={`c-button ${className}`} data-sound data-sound-click>
  <span class="c-button-bg" aria-hidden="true">
    <svg width="150" height="28" viewBox="0 0 150 28">
      <rect class="c-button-bg-hover" fill="none" stroke="currentColor" stroke-width="1" x="0" y="0" width="155" height="28"></rect>
      <rect class="c-button-bg-static" fill="none" stroke="currentColor" stroke-dasharray="2 2" stroke-width="1" x="0" y="0" width="155" height="28"></rect>
    </svg>
  </span>
  <span class="c-button-icon c-button-icon--before"><IconArrow line="right" /></span>
  <span class="c-button-text">
    <span class="c-button-text-outer">
      <span class="c-button-text-inner">
        <span class="c-button-text-static"><span>{text}</span></span>
        <span class="c-button-text-hover"><span>{text}</span></span>
      </span>
    </span>
  </span>
  <span class="c-button-icon c-button-icon--after"><IconArrow line="left" /></span>
</Tag>
